/*.film {*/
/*    margin-bottom: 20px;*/
/*}*/

/*.loading {*/
/*    font-style: italic;*/
/*}*/

/*.loading-animation {*/
/*    border: 16px solid #f3f3f3;*/
/*    border-top: 16px solid #3498db;*/
/*    border-radius: 50%;*/
/*    width: 120px;*/
/*    height: 120px;*/
/*    animation: spin 2s linear infinite;*/
/*    margin: 20px auto;*/
/*}*/

/*@keyframes spin {*/
/*    0% { transform: rotate(0deg); }*/
/*    100% { transform: rotate(360deg); }*/
/*}*/

/*.film-details {*/
/*    margin-bottom: 20px;*/
/*}*/